/* image and text section */
.game-card {
    /* background-image: url("../images/lunchbox_section_background.png"); */
    background-color: #b3f6ff;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    gap: 25px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    max-width: 100%;
    height: 750px;
    width: 100%;
    margin-bottom: 45px;
    position: relative;
    z-index: 99;
}
@media  only screen and (min-width:2264px) {
    .game-card.lunchbox_height{
        height: 100%;
        min-height: 937px;
    } 
}

@media  only screen and (max-width:950px) {
    .game-card{
        border-top-left-radius: 0;
        border-bottom-right-radius:0;
    } 
}


.background-shapes::before {
    content: "";
    position: absolute;
    background-image: url("../images/lunchbox_shape_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    z-index: 9;
    top: 24%;
    right: 4%;

}

.background-shapes::after {
    content: "";
    position: absolute;
    background-image: url("../images/lunchbox_shape_background_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 143px;
    height: 142px;
    z-index: 9;
    top: 75%;
    right: 4%;
}

@media only screen and (max-width:1290px) {
    .background-shapes::before {
        top: 30%;
        width: 170px;
        height: 200px;
        background-size: cover;

    }

}

@media only screen and (max-width:1290px) {

    .background-shapes::before,
    .background-shapes::after {
        opacity: 0;
        display: none;

    }
}

.email_banner::before {
    content: "";
    position: absolute;
    background-image: url("../images/email_banner_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 143px;
    height: 90px;
    z-index: 1;
    bottom: 0;
}

.email_banner::after {
    content: "";
    position: absolute;
    background-image: url("../images/email_banner_bacground_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 143px;
    height: 142px;
    z-index: 1;
    top: 0;
}

@media only screen and (max-width:1120px) {

    .email_banner::after,
    .email_banner::before {
        display: none;
        opacity: 0;
    }

}

.lunch_box_info {
    max-width: 1900px;
    width: 100%;
    padding: 40px 0;
}

.game-card .lunch_box_info .game-info .email_input {
    max-width: 400px;
}

.game-card .lunch_box_info .game-info .email_input::after {
    right: -7%;
}

@media only screen and (max-width: 750px) {
    .game-card.lunchbox_height{
        margin-top: 55px !important;
    }
    
    .lunch_box_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

}

@media only screen and (max-width: 450px){
    .lunchbox_shuffle .game-image{
        justify-content: center;

    }
    .lunchbox_shuffle>div{
        gap: 23px;
    }
    .lunchbox_shuffle .lunch_box_info .game-info{
        max-width: 341px;
        padding: 0;
    }

}
/* ///////////////////////testing youtube kevin slider image */
.scroller {
    max-width: 100%;
    background-color: red;
    background-color: #F2785F;
    transform: rotate(-1.422deg);
    border-bottom: 12px solid #FF3DA1;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* ///////////////////////////////// */


/* enter you email section */
.email_banner   {
    background-image: url("../images/email_login_background_banner.png");
    background-color: transparent !important;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1653px;
    width: 100%;
    margin: 0 auto;
    height: 431px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}




@media only screen and (max-width: 750px) {
    .email_banner{
        height: auto;
        margin-top: 55px;
    }
    .email_banner>.lunch_box_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 30px;
    }

}

@media only screen and (max-width: 550px) {
    .email_banner{
        height: 361px;
    }
    .email_banner>.lunch_box_info {
        gap: 23px;
    }

}
.email_banner .reverse-flex .game-info,  .email_banner .reverse-flex .game-image {
    display: flex;
    align-self: center;
    justify-content: center;
}
.email_banner .reverse-flex .game-info{
    /* align-items: flex-start; */
    align-items: center;
}
.email_banner .reverse-flex .game-info button{
    /* align-items: flex-start; */
    width: 350px;
}
@media only screen and (max-width:550px)
{
    .email_banner .reverse-flex .game-info{
        align-items: center;
    }
    .email_banner .reverse-flex .game-info p{
       font-size: 12px !important;
    }
}

.email_banner .reverse-flex .game-image img{
    max-width: 912px;
    width: 100%;
    height: 409px;
}
@media only screen and (max-width:950px){
    .email_banner .reverse-flex .game-info{
        justify-content:  center;
    }
    .email_banner .reverse-flex .game-image img{
        height: 150px;
        max-width: 325px;
    }
}
@media only screen and (max-width:400px){
    .email_banner{
        height: auto;
                margin-top: 100px;
    }
    .email_banner .reverse-flex{
        gap: 0;
    }
    .email_banner .reverse-flex .game-image img{
        top: -85px;
    }
    .email_banner .reverse-flex .game-info{
        top: -56px;
    }
    .email_banner .reverse-flex .game-info .email_input, .email_banner .reverse-flex .game-info button {
        max-width:311px ;
    }
}
.email_input {
    max-width: 565px;
    width: 89%;
    border: none;
}

.email_input::before {
    content: "";
    position: absolute;
    background-image: url("../images/input_before.png");
    background-repeat: no-repeat;
    top: 0;
    left: -3%;
    width: 25px;
    height: 52px;
}

.email_input::after {
    content: "";
    position: absolute;
    background-image: url("../images/input_after.png");
    background-repeat: no-repeat;
    right: 2%;
    width: 30px;
    height: 52px;
}

input[type=email] {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FFFFFF;
    background-image: url('../images/email.png');
    background-position: 36px 17px;
    background-repeat: no-repeat;
    font-family: "Work Sans", serif;
    font-weight: 600;
    line-height: 18.77px;
    color: rgba(64, 200, 244, 1);
    padding: 12px 20px 12px 80px;
    height: 52px;
}

@media only screen and (max-width:750px) {
    .email_input {
        background-size: cover;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:450px) {
    .game-card .lunch_box_info .game-info .email_input::before{
        left: -5%;
    }
    .game-card .lunch_box_info .game-info .email_input::after{
        right: -9%;
    }
    input[type=email] {
        font-size: 12px;
        font-weight: 400;
        background-position: 10px 17px;
        padding: 9px 0px 11px 35px;
    }

}   



.cosmic_wonder {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: auto;
    margin-bottom: 130px;
}

.cosmic_wonder .lunch_box_info .game-info{
align-self: center;
}
.cosmic_wonder .lunch_box_info .game-image img{
     max-width: 903px;
     width: 100%;
}

 .cosmic_wonder .lunch_box_info .game-info{
    width: 65%;
}
/*.cosmic_wonder .lunch_box_info .game-image{
    width: 64%;
} */


@media only screen and (max-width:750px) {
    .cosmic_wonder {
        width: 87% !important;
        padding: 22px;
        margin-bottom: 50px;
    }
}

.game-card && .email_banner {
    height: auto !important;
}


.image_banner {
    width: 100%;
}

.rotate_image {
    transform: rotate(5deg);
    z-index: 99999;
    position: relative;
}

@media only screen and (max-width: 750px) {
    .rotate_image {
        transform: rotate(-2deg);
    }
    .image_banner {
        padding-top: 15px;
    }

}

.game-card>div {
    gap: 50px;
}

.game-image {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.game-image img {
    max-width: 704px;
    width: 100%;
    /* height: 383px; */
    display: block;
    border-radius: 15px;
}

@media only screen and (max-width: 950px){
    .game-image img {
        max-width: 342px;
        height: 194px;
    }
}
.game-info {
    padding-left: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* align-self: flex-start; */
}

.game-info button {
    width: 66%;
}

@media only screen and (max-width: 750px) {
    .game-info button {
        width: 351px;
    }
    
    .game-info {
        padding-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}


.game-subtitle {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.game-description {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
}