/* footer design */
footer {
    background-image: url("../images/footer-background.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}
footer::after{
    content: "";
    background: url("../images/footer_bacground_1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -1%;
    left: -1%;
    z-index: 1;
}
.footer_section{
    margin-top: 100px;
}
.footer_upper_image{
    width: 100%;
}
.footer-container {
    flex-direction: row;
    width: 90%;
    gap: 55px;
    align-items: flex-start;
    text-align: start;
}
.input_button, .footer_input{
    display: block;
}
@media screen and (max-width:1024px) {
    .footer_upper_image{
        margin: 21px;
    }
    .footer-container{
        padding-top: 20px;
    }
    
}
@media screen and (max-width:768px) {
    .footer_upper_image{
        display: none;
    }
    .footer-container{
        padding-top: 5px;
    }
    
}



input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../images/email.png');
    background-position: 36px 10px;
    background-repeat: no-repeat;
    font-family: "Work Sans", serif;
    font-weight: 600;
    line-height: 18.77px;
    color: rgba(64, 200, 244, 1);
    padding: 12px 20px 12px 80px;
}

.footer-col-1 {
    max-width: 319px; 
     width: 100%;
}
.footer-col-2{
    max-width: 175px;
  width: 100%;
}
.footer-col-3{
    max-width: 226px;
  width: 100%;
}
.footer-col-4 h2{
    white-space: nowrap;
}

@media only screen and (max-width: 1104px) {
    .footer-col-4  h2{
        white-space: wrap !important;
    }
    .footer-col-4 .input_button{
        max-width: 400px;
    }
    footer::after{
        display: none;
        opacity: 0;
    }
}
@media only screen and (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        margin-top: 100px;
        gap: 24px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .social-buttons {
        justify-content: center !important;
    }
    .footer-col-1{
        padding-top: 20px;
    }
    .footer-col-4 {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        white-space: wrap;
    }

}

.footer-text {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(248, 248, 248, 1);
}

@media only screen and (max-width: 700px) {
    .footer-text {
        font-size: 14px;
        list-style: none;
    }
    .footer-col-4 .input_button {
        width: 80%;
    }

}

.footer-col-2 ul,
.footer-col-3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-credendials {
    justify-content: space-between !important;
    width: 90%;
    border-top: 1px solid rgba(248, 248, 248, 1);
}

@media only screen and (max-width: 900px) {
    .footer-credendials {
        flex-direction: column;
        text-align: center;
    }

}

