/* footer design */
footer {
    background-image: url("../images/footer-background.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}
footer::after{
    content: "";
    background: url("../images/footer_bacground_1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -1%;
    left: -1%;
    z-index: 1;
}
.footer_section{
    margin-top: 100px;
}
.footer_upper_image{
    width: 100%;
}
.footer-container {
    flex-direction: row;
    max-width: 1920px;
    width: 100%;
    gap: 55px;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 40px;
    justify-content: space-around !important;
}
.input_button, .footer_input{
    display: block;
}

@media only screen and (max-width:1500px) {
    .footer-container{
      justify-content: center  !important;
      gap: 30px;
    }
    
}
@media screen and (max-width:1124px) {
    .footer_upper_image{
       display: none;
    }
    
}
@media screen and (max-width:1024px) {
    .footer-container{
        padding-top: 20px;
    }
    
}
@media screen and (max-width:900px) {
    .footer_section{
        margin-top: 0;
    }
    .footer_upper_image{
        display: none;
    }
    .footer-container{
        padding-top: 5px;
        margin-bottom: 20px;
    }
    
}

.footer-col-4 .search-bar{
    max-width: 502px !important;
}
@media only screen and (min-width: 1467px){
    .footer-col-4 .search-bar::after{
        right: -5.9%;
        }
        .footer-col-4 .search-bar::before{
            left: -3%;
            }
}


input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../images/email.png');
    background-position: 36px 10px;
    background-repeat: no-repeat;
    font-family: "Work Sans", serif;
    font-weight: 600;
    line-height: 18.77px;
    color: rgba(64, 200, 244, 1);
    padding: 12px 20px 12px 80px;
}

.footer-col-1 {
    max-width: 355px; 
     width: 100%;
}
.footer-col-2{
    max-width: 175px;
  width: 100%;
  display: flex;
  align-self: flex-start;
}

.footer-col-3{
    max-width: 226px;
  width: 100%;
  display: flex;
  align-self: flex-start;

}

.footer-col-4{
    max-width: 517px;
    width: 100%;
  display: flex;
  flex-direction: column;
align-self: flex-start;
}
@media only screen and (max-width: 1025px) {
    .footer-col-2, .footer-col-3, .footer-col-4{
      align-self: center;
    }  
  }
.footer-col-4 .secondary_button::after{
    right: -18.5px;
    padding: 0;
    height: 56px;
}
.footer-col-4 h2{
    white-space: nowrap;
}

@media only screen and (max-width: 1104px) {
    .footer-col-4  h2{
        white-space: wrap !important;
    }
    .footer-col-4 .input_button{
        max-width: 400px;
    }
    footer::after{
        display: none;
        opacity: 0;
    }
}
@media only screen and (max-width: 1025px) {
    .footer-container {
        flex-direction: column;
        margin-top: 100px;
        gap: 24px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    

    .social-buttons {
        justify-content: center !important;
    }
    .footer-col-1{
        padding-top: 20px;
    }
    .footer-col-4 {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        white-space: wrap;
    }

}

@media only screen and (max-width: 470px) {
    .footer-col-4 .search-bar input::after {
    right: -9.5%;
    /* font-size: 12px;
    margin: 0 auto; */
    }}

.footer-text {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(248, 248, 248, 1);
}

@media only screen and (max-width: 700px) {
    .footer-text {
        font-size: 14px;
        list-style: none;
    }
    .footer-col-4 .input_button {
        width: 80%;
    }

}

.footer-col-2 ul,
.footer-col-3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-credendials {
    justify-content: space-between !important;
    max-width: 1920px;
    width: 100%;
    border-top: 1px solid rgba(248, 248, 248, 1);
}
.footer-credendials h4{
    margin-left: 40px;
}
 .text_help{
    margin-left: 0;
    margin-right: 65px;
}

@media only screen and (max-width: 900px) {
    .footer-credendials {
        flex-direction: column;
        text-align: center;
    }

}

