/* Slideshow homepage banner */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.mySlides {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 603px;
}


/* the image has an overshadow above but it is part of picture taken from figma i cant remove it */
.mySlides img {
  width: 80%;
  /* max-height: 603px; */
  height: 100%;
  object-fit: cover;
  z-index: 9;
  position: relative;
}

.mySlides::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url("../images/homepage_banner_pseudo_prev.png") !important;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  left: -80px;
}

.mySlides::after {
  content: "";
  position: absolute;
  width:518px;
  height: 80%;
  background-image: url("../images/homepage_banner_pseudo_next.png") !important;
  background-repeat: no-repeat;
  z-index: 1;
  right: 0;
}

@media screen and (max-width:1120px) {
  .mySlides::before {
    height: 100%;
    left: -14px;
    top: 20%;
  }

  .mySlides::after {
    height: 100%;
        top: 20%;
    
  }
}

@media only screen and (max-width:950px) {

  .mySlides::before,
  .mySlides::after {
    display: none !important;
    opacity: 0 !important;
  }

  .mySlides{
    height: 350px;
  }
  .mySlides img {
    width: 95%;
  }
}


@media only screen and (max-width:750px) {
  .mySlides img {
    width: 95%;

  }
}
@media only screen and (max-width:550px) {
  .slideshow-container{
    margin-top: 0;
    padding-top: 20px !important;
  }
  .mySlides{
    height: 180px;
  }
  
}

.prev,
.next {
  cursor: pointer;
  width: auto;
}

.next {
  right: 0;
}

.prev svg rect {
  fill: #EAA6C7;
}

.prev:active svg rect {
  fill: #D81B60;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* ////////////////////////////////////////////////////////////// */

/* testimonials swiper coding */
.testimonial-section {
  text-align: center;
  padding: 50px 0;
  max-width: 100%;
}

@media only screen and (max-width:550px) {
  .testimonial-section {
    padding: 0;
  }

}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #e50070;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.splide {
  max-width: 1920px;
  width: 100%;
  margin:0  auto;
  padding: 30px 0;
}

@media only screen and (max-width:550px) {
  .splide {
    padding: 0;
  }

}

.testimonial-card {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  animation: float 3s ease-in-out infinite;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width:750px) {
  .testimonial-card {
    height: 270px;
  }

}

div#testimonial-slider-track {
  padding-top: 30px;
  padding-bottom: 20px;
}




.testimonial-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.testimonial-card p {
  font-size: 14px;
  color: #fff;
}

.quote {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.blue_backround {
  background-color: #4361ee;
}

.pink_background {
  background-color: #f72585;
  animation: floatAnimationReverse 3s ease-in-out infinite alternate !important;
}

.lightblue {
  background-color: #4cc9f0;
}

.orange {
  background-color: #fb8500;
  animation: floatAnimationReverse 3s ease-in-out infinite alternate !important;
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*reverse elevator animation */
@keyframes floatAnimationReverse {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

/* featured games//////////////////////////////// */


/* ////////slider featured images */

.featured_games {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width:950px) {
  
  .featured_games {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;

  }

  .featured_games h2 {
    margin-top: 50px !important;
  }

}
/* 
.swiper {
  width: 75%;
} */

.featured_games .swiper {
  width: 100%;
  margin: auto;
  padding-top: 20px;

}

.featured_games .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.featured_games .swiper .swiper-slide  img {
  width: 100%;
  max-width: 300px !important;
  transition: transform 0.3s ease-in-out;
}
.featured_games .swiper .swiper-slide--active  img {
  transform: scale(0.5);
}

@media only screen and (max-width:750px) {
  .featured_games .swiper .swiper-slide{
    width: 400px !important;
  }

  .featured_games .swiper .swiper-button-prev,
  .featured_games .swiper .swiper-button-next {
    display: none !important;
    opacity: 0;
  }

}
@media only screen and (max-width:450px) {
  .featured_games .swiper .swiper-slide{
    width: 142px !important;
    height: 141px;
    gap: 30px;
  }

}

.swiper-container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.featured_games::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100% !important;
  height: 300px;
  background-color: #4DEBFF;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background-size: cover;
  z-index: -1;
}

.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}
@media only screen and (max-width:1250px) {
  .featured_games::before {
    height: 135px;
    bottom: -2%;
      }}
@media only screen and (max-width:750px) {
  .featured_games::before {
    height: 117px;
    bottom: -5%;
      }
  .featured_games {
    margin-bottom: 20px;
  }

  .featured_games::before {
    bottom: -20%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .swiper-container {
    width: 80%;
  }

}
@media only screen and (max-width:500px) {

  .featured_games::before {
height: 117px;
bottom: -5%;
  }

}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}


.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-button-prev {
  left: -3%;
  color: transparent !important;
  width: 150px !important;
  margin-right: -20px;
}

.swiper-button-next {
  color: transparent !important;
  width: 150px !important;
}

.swiper-button-prev svg,
.swiper-button-next {
  width: unset !important;
  height: 70px !important;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////// */


/* ///////////new games glidejs styling */

/* carousel styling */

.game_images_container {
  margin-bottom: 75px;
}
.game_images_container h2{
  margin-bottom: 33px;
}

.game_images_container .glider-contain {
  width: 80%;
  padding: 50px;
  z-index: 9;
}

.game_images_container .glider {
  padding: 20px;
}

@media only screen and (max-width:950px) {
  .game_images_container h2{
    margin-bottom: 17px;
  }
  .game_images_container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .game_images_container .glider-contain {
    width: 90%;
    padding: 0 0 50px 0;
  }
}
@media only screen and (max-width:400px){
  .game_images_container {
    width: 100%;

  }
}

.game_images_container .glider .glider-track .glider-slide {
  width: 450px;
  min-width: 390px;
  height: auto;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width:550px) {
  .game_images_container .glider .glider-track .glider-slide {
    min-width: 219px;
  }

}

@media screen and (max-width:400px) {
  .game_images_container .glider .glider-track .glider-slide {
    min-width: 175px;
  }

}

.game_images_container .glider .glider-track .glider-slide .product-card {
  margin: 0 auto;
}

.game_images_container .glider .glider-track .glider-slide .product-card img {
  height: 219px;
  width: 390px;
}

@media only screen and (max-width:400px){
  .game_images_container .glider .glider-track .glider-slide .product-card img{
    height: 92px;
  }
}
.game_images_container .glider .glider-track .glider-slide .product-card p {
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-family: "Josefin Sans";
  font-weight: 300;
}
.game_images_container .glider .glider-track .glider-slide .product-card  h4{
  font-size: 16px;
}
@media screen and (max-width: 680px) {
  
.game_images_container .glider .glider-track .glider-slide .product-card  h4{
  font-size: 12px;
}
  .glider-slide {
    padding: 8px;
  }

  @media screen and (max-width: 680px) {

    .game_images_container .glider-contain .glider-prev,
    .game_images_container .glider-contain .glider-next {
      display: none;
    }

  }
}

.game_images_container .glider-contain .glider-prev,
.game_images_container .glider-contain .glider-next {
  background-color: #EC007A !important;
  color: white !important;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  width: 30px !important;
  padding: 4px 9px !important;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 10;
}
.game_images_container .glider-contain .glider-prev {
  left: -40px !important;
}

@media only screen and (max-width:950px) {
  .game_images_container .glider-contain .glider-prevv {
    left: 10px !important;
  }
}

.game_images_container .glider-contain::before {
  content: "";
  position: absolute;
  background-image: url("../images/games_prev_background.png");
  background-repeat: no-repeat;
  z-index: -1;
  top: 80px;
  left: -97px;
  width: 316px;
  height: 216px;
}

.game_images_container .glider-contain::after {
  content: "";
  position: absolute;
  background-image: url("../images/games_next_background.png");
  background-repeat: no-repeat;
  top: 80px;
  right: -97px;
  width: 316px;
  height: 216px;
  z-index: -1;
}
@media screen and (max-width:1300px) 
{
  .game_images_container .glider-contain::after, .game_images_container .glider-contain::before{
    display: none;
    opacity: 0;
  } 
}

.game_images_container .glider-contain .glider-next{
  right: -50px !important;
}