/* main syling */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100vh;
    font-family: "Work Sans", serif;
    overflow-x: hidden !important;
}

/* general text design */
h2 {
    font-family: "Work Sans", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.23px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

@media only screen and (max-width:750px){
    h2{
        font-size: 22px !important;
    }
}

h5 {
    font-family: "Work Sans", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.77px;
    margin: 0;
}
h3 {
    font-family: "Work Sans", serif;
    font-weight: 600;
    line-height: 16.42px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

p {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(101, 101, 101, 1);
}
@media only screen and (max-width:750px){
    p{
        font-size: 14px !important;
    }
}

.display_none{
    display: none;
}

/* genneral desing for buttons */
.primary_button {
    display: flex;
    border: none;
    height: 56px;
    justify-content: center;
    align-items: center;
    color: #FCF2EC;
    background-color: #40C8F4;
    font-family: "Work Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.primary_button::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 50px;
    background-image: url("../images/primary_button_before.png");
    left: -15px;
    top: 0;
    background-repeat: no-repeat;
    padding: 20px;
}
.primary_button::after{
    content: "";
    position: absolute;
    /* width: 30px; */
    height: 50px;
    background-image: url("../images/prmary_button_after.png") ;
    right: -40px;
    top: 0;
    background-repeat: no-repeat;
    padding: 20px;
}
@media only screen and (max-width:1469px){
    .primary_button{
        font-size: 16px;
    }
}

.secondary_button {
    color:
        rgba(255, 255, 255, 1);
    background-color: #FF3DA1 !important;
    max-width: 330px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}


.secondary_button::before{
    content: "";
    position: absolute;
    height: 50px;
    background-image: url("../images/secondary_button_before.png");
    right: -40px;
    top: 0;
    background-repeat: no-repeat;
    padding: 20px; 
}
.primary_button::after{
    content: "";
    position: absolute;
    height: 50px;
    background-image: url("../images/secondary_button_after.png") ;
    right: -38px;
    top: 0;
    background-repeat: no-repeat;
    padding: 20px;
}